
#navb{
  text-align: center;
  background-color: rgba(38, 39, 43, 0.836);
  /* background-color: #10222f ; */
  box-shadow: #f7f8f8 1px 1px 1px;

}
.logoaa{
width: 50px;

}

.navbb{
  background-color: rgba(22, 32, 66, 0.836);
  margin: 9px;
  border-radius: 3px;
  box-shadow: black 1px 1px 6px;
}
.navbb:hover{
  background-color: rgba(2, 9, 29, 0.9);
  box-shadow: #0550a5 1px 1px 3px;

}

.accor{
  color: #010c14;
  margin: 60px;
}
.lin{
  padding: 0;
  padding-top: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../public/pasdevs.webp");
}
.contatext{
  margin-top:70px;
  margin-right: 0;
}

.ptext{
  margin-top: 40px;
  font-size: 25px;
  border-radius: 3px;
  background-color: rgb(4, 99, 78);
  color:white;
 
}
.ptext:hover{
  background-color: rgb(70, 214, 183);
  border-radius: 3px;
}

 .amooz{
   background-color: rgb(29, 34, 29);
   border-radius: 2px;
   color: rgb(255, 255, 255);
 }
.a1{
  text-decoration-line: none;

}
.a1 :hover{
  background-color: #e72b2b;
}
.web{
  width: 260px;
  height: 100px;
  margin-top: 14px;
  border-radius: 7px;
  
  background-color: rgb(41, 53, 53);
  transform: skew(165deg);
  margin-bottom: 25px;
}

.icon{
  box-shadow: aliceblue 1px 1px 5px;
  border-radius: 5px;
  padding: 3px;
}
@keyframes ico {
  10%{  border-color: #0a0a04; };
}
#ico{
  animation-name: ico;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border-style: dashed;
}


.iconn{
  box-shadow: aliceblue 1px 1px 4px;
  
  transform: skewy(200deg);
}
.imgg1{
  border-radius: 50%;
  
}

.imgdev{
  width: 100%;
  margin-bottom: 30px;
}

.home{
  
  background-image: url("https://img.freepik.com/free-vector/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.jpg");
  padding-bottom: 60px;
}
.pat{
  box-shadow: black 2px 2px 69px;
}
.iconpvc{
  border-radius: 50%;
}

.imgicon{
  border-radius: 50%;
  box-shadow: rgb(239, 240, 236) 1px 1px 8px;
}
.pvc{
  background-color: rgb(83, 50, 50);
  border-radius: 3px;
  margin-right: 13px;
  margin-bottom: 3px;
  margin-top: 7px;
  text-align: center;
  
}
.pvc:hover{
  background-color: rgb(121, 70, 70);
}

.texti{
  text-align: center;
  padding: 3px;
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}



.im img{
  opacity: 0.37;
  
  position: absolute;
}


.pvcc{
  text-align: center;
  color: rgb(206, 211, 214);
}
 .tarh{
  clip-path: polygon(0 0, 100% 0, 60% 0%, 100% 0, 100% 55%, 51% 99%, 0 59%);
  background-color: #010c14;
   width: 50%;
   height: 50px;
   margin-top: 40px;
   margin-right: 25%;
   padding-top: 8px;
   box-shadow: rgb(7, 255, 255) 1px 1px 7px;
   margin-bottom: 5px;
 }

 .img1{
   border-radius: 5px;
   margin-top: 20px;
 }

.img2{
  border-radius: 6px;
  border-radius: 11px;
}




.foot{
  background-size: cover;
  box-shadow: black 2px 2px 9px;
  border-style: dashed;
  border-color: #848a84;
  background-image: url("https://img.freepik.com/free-vector/blue-futuristic-waves-background-with-computer-code-technology_53876-119584.jpg");
}


/* ----------------------------------------------
 * Generated by Animista on 2022-12-3 8:4:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

.img2:hover{

  border-style: groove;
}


.img4{
  width: 100px;
  border-radius: 11px;
  margin: 15px;
  padding: 7px;
}
.img4:hover{
  border-radius: 21px;
  box-shadow: #241901 2px 2px 9px;

}
.img4 img{
  border-radius: 6px;
}



.navb{
  background-image: linear-gradient(to bottom right, rgb(29, 21, 31), rgb(13, 10, 27))

}

.foote{
  height: 100%;
  color: #f7f8f8;
}
.webi{
  box-shadow: #010c14 1px 1px 7px;
  border-style: groove;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: #848a84;
  background-color: rgba(132, 130, 231, 0.11);
}
.mobi{
  box-shadow: #010c14 1px 1px 7px;
  border-style: groove;
  border-color: #848a84;
  background-image: linear-gradient(to bottom right, rgb(2, 43, 44), rgb(27, 21, 51))
}
.h2{
  width: 70%;
  height: 90px;
  margin-right: 30px;
  color: white;
  background-color: rgb(9, 15, 26);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

}

.foot1{
  border-radius: 11px;
  margin: 4px;
  text-align: center;
  margin-top: 84px;
 color: white;
 
}
.imgcall{
  height: 60px;
  margin: 44px;
}
.cl{
  margin-bottom: 7px;
}
.imga:hover{
  box-shadow: rgb(10, 153, 65) 1px 1px 7px;
  border-radius: 50%;
}
.abdolimg{
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

}
.mario{
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
margin-top: 10px;
}

.colabdol{
  margin-top: 52px;
  margin-bottom: 44px;
  margin-left: 22px;
  
  background-color: #010c14;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  color: rgb(46, 95, 89);
  text-shadow: rgb(94, 60, 43) 1px 1px 2px;
}

.pp{
  padding: 2px;
  margin: 5px;
  border-radius: 3px;
  color: rgb(70, 160, 240);
  text-shadow: rgb(88, 88, 88) 1px 1px 4px;
}
@keyframes pp {

  10%{background: linear-gradient(red,blue);}
  40%{background: linear-gradient(red,blue);}
  80%{background: linear-gradient(red,blue);}
  
}
.dev{
  text-align: center;
  margin-top: 33px;
  padding: 4px;
  color: wheat;
}
.tarah{
  padding: 9px;
}
.abdollah{
  border-radius: 4px;
  margin: 3px;
  color: rgb(238, 14, 14);
}
.abdollah:hover{
  box-shadow: rgb(47, 243, 96) 2px 2px 9px;
  padding: 5px;
}

.aa{
  text-decoration: none;
}